<style>
* {
  box-sizing: border-box;
}


.header { 
  text-align: center;
  font-family: monospace;
}

.column {
  width: 25%;
  padding-left: 10px;
  background-color: grey;
  border: 2px solid black;
  margin: 10px;
  float: left;
  font-family: monospace;

}



.col2{
background-color: #C70039;
     text-align: center;
     clear: both;
     font-family: monospace;
     padding-bottom: 3px;  

     
}

.col3
{
  
background-color: #DAF7A6;
     text-align: center;
     clear: both;
     font-family: monospace;
     
}


.col1{
  background-color: #F08080; 
  text-align: center;
    clear: both;
     font-family: monospace;
      
}
p{
  font-weight: bold;
  width: 30%;
  display: grid;
  margin: 2px;
  margin-left: 176px;
  border:1.5px solid black;
  border-top: none;
  border-right: none;
  margin-top:unset; 
  
}
}



/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (min-width: 992px) {
  .column {
    width: 28%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .column {
    width: 35%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
  .column {
    width: 90%;
    clear: both;
  }
}



</style>